.categories-section{
    background-color: black;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.category-card{
    position: relative;
    width: 317px;
    height: 500px;
    border-radius: 15px;
    overflow: hidden;
  }

.overlay{
    position: absolute;
    inset: 0;   /*Definição de inset*/
    background-color: rgba(0, 0, 0, 0.35);
}

.category-name{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);

    z-index: 2;
    font-size: 1.25rem;
    margin-top: 10px;
    text-align: center;
    font-weight: 500;
}


.casual{
    background: url('../../images/products/casual.jpg') no-repeat center;
    background-size: cover;
}

.esporte{
    background: url('../../images/products/esportivo.jpg') no-repeat center;
    background-size: cover;
}

.moderno{
    background: url('../../images/products/moderno.jpg') no-repeat center ;
    background-size: cover;
}

.futurista{
    background: url('../../images/products/futurista.jpg') no-repeat center;
    background-size: cover;
}

